body{
    background-color: black;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1, h2, h3, h4, h5, h6{
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

}
.main-content{
    margin-left: 220px;
    padding: 20px;
}
.sidebar{
    background-color: burlywood;
    width: 200px;
    height: 100px;
    left: 0;
    padding: 15px;
    position: fixed;
}
.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    margin: 15px 0;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
}
.sidebar ul li a:hover{
    text-decoration: underline;
    color: yellow;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    background-color: gray;
    border-radius: 5px;
}

.box-model{
    padding: 15px;
    background-color: rgb(69, 21, 64);
    border: 5px solid yellow;
    margin: 20px;
}